# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb

# Folder
Debug/
Release/
/TODOGameServer/ipch/SERVERLIBRARY-121d44f2/SERVERLIBRARY-4840c936.ipch
/TODOGameServer/TODOGameServer.VC.db
/TODOGameServer/ipch/TESTCLIENT-d327ff78
/TODOGameServer/.vs/TODOGameServer/v14
/TODOGameServer/ipch/SERVERLIBRARY-7b2e54e6
*.ipch
