# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb

# Folder
Debug/
Release/
ServerLibrary/Debug/
TestClient/Debug/
TODOGameServer/.vs/TODOGameServer/v14/.suo
*.ipch