# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb

# Folder
Debug/
Release/
/TODOGameServer/ipch/SERVERLIBRARY-121d44f2/SERVERLIBRARY-4840c936.ipch
/TODOGameServer/TODOGameServer.VC.db
